# .env
NEXT_PUBLIC_SUPABASE_URL="https://project_url.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="daskjfaiej3438822ddase2Eddfa.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzb2lwa3lrd3NjendxanN1Ym5uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4Mjk0NjMsImV4cCI6MjA5ODQwNTQ2M30.IUjf5TNkeihHiFv7ydjpmyEE41CcwYM4qYQPX8L2nkU"

# POOLED URL: Used ONLY by your Next.js application at runtime
DATABASE_URL="postgresql://postgres.projectid:password@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres"

# DIRECT URL: Used ONLY by the Prisma CLI for migrations
DIRECT_URL="postgresql://postgres.projectid:password@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"

# The UUID of your pre-existing owner account
ADMIN_UUID="f9De4gn-faf6-411f-b3dc-dda4DDrfgr3eGa"